#root {
  /* max-width: 1280px;
  width: */
  /* max-width: 70%; */
  /* min-width: 320px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  /* flex: 1; */
  /* height: 100%; */
  width: 100%;
  background-color: black;
}
